<% const categoriesList = list_categories({ show_count: false }); %>
<div class='book-categories'>
  <h2>Categories</h2>
  <% if (categoriesList !== "") { %>
    <%-categoriesList%>
  <% } else { %>
    <p>None.</p>
  <% } %>
</div>