<% site.posts.forEach(function(post){ %>
  <% if (url_for(post.path).indexOf(url_for(theme.home_page)) != -1 || url_for(theme.home_page).indexOf(url_for(post.path)) != -1) { %>
    <div>
      <div class="columns">
        <div class="column col-10">
          <div class="book-post">
            <%-post.content%>
          </div>
          <% if(post.disqus != false) { %>
            <%- partial('_partials/comments') %>
          <% } %>
        </div>
        <div class="column col-2">
          <%- partial('_partials/toc') %>
        </div>
      </div>
    </div>

    <% if(post.lightgallery != false) { %>
      <%- partial('_partials/lightgallery') %>
    <% } %>
  <% } %>
<% }) %>