<!DOCTYPE html>
<html lang="<%= config.language %>">

<%- partial('_partials/head') %>

<body>

<div class="container">
  <div class="book-container">
    <div class="columns">
      <%# Sidebar %>
      <div class="column col-2 book-nav">
        <%- partial('_partials/sidebar') %>
      </div>

      <div class="column col-10">
        <div class="book-content">
          <%- body %>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>
