$book-primary-color: #004ed0;
$book-primary-link-color: rgb(47, 47, 47);
$book-primary-link-hover-color: rgb(128, 128, 128);
$book-link-color: #004ed0;
$book-link-visited-color: #7170db;
$book-link-hover-color: rgb(109, 109, 109);
$border-color: #ddd;

// font size
$font-size-base           : 20px;
$font-size-min            : .5rem;
$font-size-smallest       : .6rem;
$font-size-smaller        : .7rem;
$font-size-small          : .8rem;
$font-size-medium         : 1rem;
$font-size-large          : 1.125rem;
$font-size-larger         : 1.2rem;
$font-size-largest        : 1.4rem;
$font-size-max            : 1.6rem;

// medias
$pc-media                 : 1280px;
$pcs-media                : 1279px;
$pad-media                : 960px;
$pads-media               : 959px;

// code highlight
$code-font-family         : consolas, Menlo, monospace;
$code-border-radius       : 3px;
$code-foreground          : #555;
$code-background          : #eee;

$content-font-family      : sans-serif;

// layout definition
$content-padding-xl       : 1.8rem;
$content-padding-lg       : 1.5rem;
$content-padding-md       : .75rem;

$post-info-max-width-xl   : 10rem;
$post-info-max-width-lg   : 8.5rem;

$post-horizontal-pd       : .75rem;

$sidebar-width            : 12rem;
$sidebar-starting-pd      : 1.25rem;
$sidebar-ending-pd        : .6rem;
$sidebar-brand-height     : 2rem;
$sidebar-brand-fsize      : .8rem;
$sidebar-menu-depth       : .5rem;
$sidebar-menu-spacing     : .625rem;

// post style
$line-margin              : 1rem;