@import "variables";

.book-container {
  width: 100%;
  height: 100%;
}

html {
  margin: 0;
  height: 100%;
  font-size: $font-size-base;
}

body {
  font-size: $font-size-small;
}

a {
  color: $book-link-color;
}

a:visited {
  color: $book-link-visited-color;
}

a:hover {
  color: $book-link-hover-color;
  text-decoration: none;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}

.off-canvas-overlay {
  background: rgba(0, 0, 0, 0.2);
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 499;

  &.show {
    display: block;
  }

  @media all and (min-width: $pc-media) {
    display: none !important;
  }
}

.off-canvas-content {
  height: 100%;
  font-family: $content-font-family;
  transition: margin 200ms;

  @import "_partials/book-content";

  &.extend {
    margin-left: 0;
  }

  @media all and (min-width: $pc-media) {
    margin-left: $sidebar-width;
    padding: $content-padding-xl $content-padding-xl;
  }

  @media all and (min-width: $pad-media) and (max-width: $pcs-media) {
    padding: $content-padding-xl $content-padding-lg;
  }

  @media all and (max-width: $pads-media) {
    padding: $content-padding-xl $content-padding-md;
  }
}

@import "_partials/book-navbar";
@import "_partials/book-sidebar";
@import "_partials/book-archive";
