@import 'variables';

.container {
  height: 100%;
}

.columns {
  height: 100%;
}

html, body {
  height: 100%;
  margin: 0;
}

a {
  color: $book-link-color;
}

a:hover {
  color: $book-link-hover-color;
  text-decoration: none;
}

img {
  max-width: 100%;
  max-height: 100%;
}