
<% if (theme.friends.length > 0) { %>
  <div class="list-group">
    
    <div class="timeline">
        <div class="list-group-item">
            <div class="list-group-left">
                <a class="list-group-title"></a>
            </div>
            <div class="list-group-content">
                <h6>Friends</h6>
                <% theme.friends.forEach(friend => { %>
                    <div class="list-group-content">
                        <a href="<%= friend.url %>"><%= friend.name %></a>
                    </div>
                <% }) %>
            </div>
        </div>
    </div>
  </div>
<% } %>
