
<% if (site.posts.length > 0) { %>
  <div class="list-group">
    
    <div class="timeline">
      <div class="list-group-item">
        <div class="list-group-left">
          <a class="list-group-title"></a>
        </div>
        <div class="list-group-content">
          <h6>Recent Posts</h6>
        </div>
      </div>

    <%
        var months = {};
        site.posts.sort('date').reverse().limit(15).each(post => {
            var month = date(post.date, 'YYYY-MM');
            if(months[month] === undefined){
                months[month] = [];
            }
            months[month].push(post);
        });
    %>

    <% Object.keys(months).forEach(month => { %>
        <div class="list-group-item">
          <div class="list-group-left">
            <a class="list-group-title"></a>
          </div>
          <div class="list-group-content">
            <h6><%= date(month, 'MMMM YYYY') %></h6>
            <% months[month].map(function(post){  %>
              <div>
                <a href="<%- config.root %><%- post.path %>"><%- post.title || "Untitled" %></a>
              </div>
            <% }) %>
          </div>
        </div>
    <% }) %>
    </div>
  </div>
<% } %>
