<h4 class="site-meta">
    <a href="<%= config.root %>"><%= config.title %></a>
</h4>

<div class="sidebar-content">
    <%- sidebar %>
</div>

<script>
document.querySelectorAll('.sidebar-content a').forEach(function(item){ 
    if(item.href === window.location.href || item.href === window.location.href.slice(0, -1)) {
        item.className = "book-sidebar-current"
    }
})
</script>