<div class="book-sidebar">
  <h4 class="site-meta">
    <a href="<%= config.root %>"><%= config.title %></a>
  </h4>
  <div class="sidebar-content">
    <%- sidebar %>
  </div>
</div>

<%- js('/js/book-sidebar') %>