.book-nav {
  .site-meta {
    margin: $padding-8 0 $padding-14 0;
    a {
      color: $book-primary-link-color;
    }
    
    a:hover {
      color: $book-primary-link-color;
    }
  }
  
  ul {
    list-style: none;
  }

  .book-nav-blog, .book-nav-book {
    margin: 0;
  }

  .book-nav-book ul {
    margin: $padding-8;
  }

  a {
    color: $book-primary-link-color;
  }
  
  a:hover {
    color: $book-primary-link-hover-color;
  }

  .book-nav-current {
    color: $book-primary-color;
  }
}

.list-group {
  margin-top: $padding-8;

  .list-group-content {
    width: 150px;
    
    h6 {
      font-weight: bold;
      padding-top: $padding-10;
      padding-bottom: $padding-6;
      margin: 0;
    }

    div {
      padding-bottom: $padding-4;
      overflow : hidden;
      text-overflow : ellipsis;
      white-space : nowrap;
    }
  }
}

.list-group-title {
  background-color: white;
  border: 2px solid $book-primary-link-color;
  border-radius: 50%;
  content: "";
  display: block;
  height: .4rem;
  left: -1.05rem;
  position: absolute;
  top: .9rem;
  width: .4rem;
}

.list-group-item {
  position: relative;
  ::before {
    background: $border-color;
    content: "";
    height: 100%;
    left: -18px;
    position: absolute;
    top: 1.3rem;
    width: 1.2px;
  }
}