.book-sidebar {
  .site-meta {
    font-size: $font-size-largest;
    margin-bottom: 0.875rem;

    a {
      color: $book-primary-link-color;
    }

    a:hover {
      color: $book-primary-link-color;
    }
  }

  .sidebar-content {
    font-size: $font-size-small;
    padding-right: 1rem;
    display: none;
    ul {
      list-style: none;
      margin-left: 0;
      ul {
        margin: 0 0 0 0.5rem;
      }
    }
    .icon {
      vertical-align: unset;
    }
  }

  .collapse-li {
    display: flex;
    align-items: flex-start;
  }

  .collapse-span {
    word-break: break-all;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
    padding-right: 2px;
  }

  .show {
    white-space: normal;
    overflow-x: unset;
  }

  a {
    color: $book-primary-link-color;
  }

  a:hover {
    color: $book-primary-link-hover-color;
  }

  .book-sidebar-current {
    color: $book-primary-color;
  }
}
