.book-content {
  padding: 0 4rem;
}
@media all and (max-width: 1280px) {
  .book-content {
    padding: 0 1.25rem;
  }
}
.book-content .book-post a:hover {
  text-decoration: underline;
}
.book-content .book-post > *:first-child {
  margin-top: 0 !important;
}
.book-content .book-post h1,
.book-content .book-post h2,
.book-content .book-post h3,
.book-content .book-post h4,
.book-content .book-post h5,
.book-content .book-post h6 {
  font-weight: bold;
  margin-bottom: 1rem;
  margin-top: 1.7rem;
}
.book-content .book-post h1,
.book-content .book-post h2 {
  padding-bottom: 0.4rem;
  border-bottom: 1px solid #e7e7e7;
}
.book-content .book-post h1 {
  font-size: 1.4rem;
}
.book-content .book-post h2 {
  font-size: 1.125rem;
}
.book-content .book-post h3 {
  font-size: 1rem;
}
.book-content .book-post h4 {
  font-size: 0.8rem;
}
.book-content .book-post h5 {
  font-size: 0.7rem;
}
.book-content .book-post h6 {
  font-size: 0.6rem;
  color: grey;
}
.book-content .book-post p {
  margin-bottom: 1rem;
}
.book-content .book-post hr {
  border: 1px solid #e7e7e7;
  background-color: #e7e7e7;
  margin: 1rem 0;
}
.book-content .book-post .table-wrapper {
  max-width: 100%;
  margin: 1.25rem 0;
  overflow: auto;
}
.book-content .book-post .table-wrapper table {
  width: 100%;
  border-spacing: 0px;
  border-collapse: collapse;
}
.book-content .book-post .table-wrapper table th,
.book-content .book-post .table-wrapper table td {
  padding: 0.7rem;
  border: 1px solid #e7e7e7;
  text-align: left;
}
.book-content .book-post ul,
.book-content .book-post ol {
  list-style-position: outside;
  margin: 0 0 1rem 1.4rem;
}
.book-content .book-post ul ol,
.book-content .book-post ol ol {
  margin-top: 0;
  margin-bottom: 0;
}
.book-content .book-post ul ul,
.book-content .book-post ol ul {
  margin-top: 0;
  margin-bottom: 0;
}
.book-content .book-post ul p,
.book-content .book-post ol p {
  margin: 0;
}
.book-content .book-post blockquote {
  margin: 1.125rem 0 1.125rem 0;
  padding: 0.2rem 1rem;
}
.book-content .book-post blockquote p {
  margin-bottom: 0.5rem;
}
.book-content .book-post blockquote p:last-child {
  margin-bottom: 0;
}
.book-content .book-post blockquote ul:last-child {
  margin-bottom: 0;
}
.book-content .book-post blockquote.right {
  border-left: none;
  border-right: 0.1rem solid #dadee4;
}
.book-content .book-post .note {
  margin: 1.125rem 1.125rem 1.125rem 0;
  padding: 0.2rem 1rem;
  background-color: #e7f2fa;
  border-left: 0.1rem solid #6ab0de;
}
.book-content .book-post .note p {
  margin-bottom: 0.5rem;
}
.book-content .book-post .note p:last-child {
  margin-bottom: 0;
}
.book-content .book-post .note ul:last-child {
  margin-bottom: 0;
}
.book-content .book-post .tip {
  margin: 1.125rem 1.125rem 1.125rem 0;
  padding: 0.2rem 1rem;
  background-color: #dbfaf4;
  border-left: 0.1rem solid #1abc9c;
}
.book-content .book-post .tip p {
  margin-bottom: 0.5rem;
}
.book-content .book-post .tip p:last-child {
  margin-bottom: 0;
}
.book-content .book-post .tip ul:last-child {
  margin-bottom: 0;
}
.book-content .book-post .attention {
  margin: 1.125rem 1.125rem 1.125rem 0;
  padding: 0.2rem 1rem;
  background-color: #ffedcc;
  border-left: 0.1rem solid #f0b37e;
}
.book-content .book-post .attention p {
  margin-bottom: 0.5rem;
}
.book-content .book-post .attention p:last-child {
  margin-bottom: 0;
}
.book-content .book-post .attention ul:last-child {
  margin-bottom: 0;
}
.book-content .book-post .video-container {
  position: relative;
  margin-bottom: 1.5rem;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}
.book-content .book-post .video-container iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.book-content .book-post figcaption {
  text-align: center;
  font-size: 0.7rem;
  margin: 0.5rem 0;
}
.book-content .book-post img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.book-content .book-post iframe {
  width: 100%;
}
.book-content .book-post .checkbox-item {
  list-style-type: none;
}
.book-content .book-post .checkbox-item input {
  margin-left: -1rem;
  margin-right: 0.4rem;
}
.book-content .book-comments {
  padding: 0 0 1.5rem 0;
}
.book-content #disqus_thread {
  margin: 50px 0;
}
.book-content .utterances {
  max-width: 100%;
  margin: 0;
}
.book-content .highlight, .book-content pre {
  font-family: consolas, Menlo, monospace;
  background: #f7f7f7;
  color: #4d4d4c;
  line-height: 1.2rem;
  margin: 1rem auto 1rem;
}
.book-content .gutter {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.book-content code {
  font-family: consolas, Menlo, monospace;
  border-radius: 3px;
  padding: 2px 4px;
  overflow-wrap: break-word;
  word-wrap: break-word;
}
.book-content pre {
  overflow: auto;
  padding: 10px;
}
.book-content pre code {
  background: none;
  color: #4d4d4c;
  padding: 0;
  text-shadow: none;
}
.book-content .highlight {
  font-size: 0.6rem;
  overflow: auto;
}
.book-content .highlight *::selection {
  background: #d6d6d6;
}
.book-content .highlight pre {
  border: 0;
  margin: 0;
  padding: 6px 0;
}
.book-content .highlight table {
  border: 0;
  margin: 0;
  width: auto;
}
.book-content .highlight td {
  border: 0;
  padding: 0;
}
.book-content .highlight figcaption {
  position: relative;
  background: #eff2f3;
  color: #869194;
  line-height: 1em;
  margin: 0;
  padding: 0.5em;
}
.book-content .highlight figcaption::before, .book-content .highlight figcaption::after {
  content: " ";
  display: table;
}
.book-content .highlight figcaption a {
  color: #4d4d4c;
  position: absolute;
  right: 6px;
}
.book-content .highlight figcaption a:hover {
  border-bottom-color: #4d4d4c;
}
.book-content .highlight .marked {
  background: #f8e9c0;
  border-bottom: 0.05rem solid #ffe7ab;
  border-radius: 0.1rem;
  color: #3b4351;
  padding: 0.05rem 0.1rem 0;
}
.book-content .highlight .gutter pre {
  background: #eff2f3;
  color: #869194;
  padding-left: 10px;
  padding-right: 10px;
  text-align: right;
}
.book-content .highlight .code pre {
  background: #f7f7f7;
  padding-left: 10px;
  width: 100%;
}
.book-content .gist table {
  width: auto;
}
.book-content .gist table td {
  border: 0;
}
.book-content pre .deletion {
  background: if false, #fdd, #800000;
}
.book-content pre .addition {
  background: if false, #dfd, #008000;
}
.book-content pre .meta {
  color: #eab700;
}
.book-content pre .comment {
  color: #8e908c;
}
.book-content pre .variable,
.book-content pre .attribute,
.book-content pre .tag,
.book-content pre .name,
.book-content pre .regexp,
.book-content pre .ruby .constant,
.book-content pre .xml .tag .title,
.book-content pre .xml .pi,
.book-content pre .xml .doctype,
.book-content pre .html .doctype,
.book-content pre .css .id,
.book-content pre .css .class,
.book-content pre .css .pseudo {
  color: #c82829;
}
.book-content pre .number,
.book-content pre .preprocessor,
.book-content pre .built_in,
.book-content pre .builtin-name,
.book-content pre .literal,
.book-content pre .params,
.book-content pre .constant,
.book-content pre .command {
  color: #f5871f;
}
.book-content pre .ruby .class .title,
.book-content pre .css .rules .attribute,
.book-content pre .string,
.book-content pre .symbol,
.book-content pre .value,
.book-content pre .inheritance,
.book-content pre .header,
.book-content pre .ruby .symbol,
.book-content pre .xml .cdata,
.book-content pre .special,
.book-content pre .formula {
  color: #718c00;
}
.book-content pre .title,
.book-content pre .css .hexcolor {
  color: #3e999f;
}
.book-content pre .function,
.book-content pre .python .decorator,
.book-content pre .python .title,
.book-content pre .ruby .function .title,
.book-content pre .ruby .title .keyword,
.book-content pre .perl .sub,
.book-content pre .javascript .title,
.book-content pre .coffeescript .title {
  color: #4271ae;
}
.book-content pre .keyword,
.book-content pre .javascript .function {
  color: #8959a8;
}

.book-post-info {
  position: fixed;
  font-size: 0.7rem;
}
@media all and (min-width: 1280px) {
  .book-post-info {
    max-width: 10rem;
  }
}
@media all and (min-width: 960px) and (max-width: 1279px) {
  .book-post-info {
    max-width: 8.5rem;
  }
}
.book-post-info .book-post-meta {
  display: block;
  opacity: 1;
  max-height: 150px;
  overflow: auto;
  font-size: 0.7rem;
  transition: max-height 0.15s ease-in;
  transition: opacity 0.15s ease-in;
}
.book-post-info .book-post-meta .author {
  display: flex;
}
.book-post-info .book-post-meta .author .author-img {
  display: flex;
  align-items: center;
}
.book-post-info .book-post-meta .author .author-img figure {
  background: #fff;
}
.book-post-info .book-post-meta .author .author-title {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 8px;
}
.book-post-info .book-post-meta .link a {
  color: rgb(59, 67, 81);
}
.book-post-info .book-post-meta .link a:hover {
  color: rgb(128, 128, 128);
}
.book-post-info .book-post-meta.hide {
  opacity: 0;
  max-height: 0;
  transition: max-height 0.15s ease-out;
}
.book-post-info .book-tocbot {
  overflow: auto;
  position: relative;
  padding-right: 0.875rem;
  transition: max-height 0.15s ease-in-out;
}
.book-post-info .book-tocbot ul {
  list-style: none;
  position: inherit;
  overflow: hidden;
}
.book-post-info .book-tocbot ul li {
  margin-left: 0.25rem;
}
.book-post-info .book-tocbot .toc-link::before {
  background-color: white !important;
}
.book-post-info .book-tocbot .is-active-link::before {
  background-color: #004ed0 !important;
}
.book-post-info .book-tocbot-menu {
  margin: 1rem 0.75rem;
}
.book-post-info .book-tocbot-menu a {
  display: block;
  margin: 0.375rem 0;
  color: #999;
  cursor: pointer;
}
.book-post-info .book-tocbot-menu a:hover {
  color: gray;
}

/*# sourceMappingURL=book-content.css.map */
