.book-navbar {
  padding-top: 0;
  padding-right: $post-horizontal-pd-lg;
  padding-bottom: 1.5rem;
  padding-left: $post-horizontal-pd-lg;

  i {
    color: $book-primary-link-color;
  }

  @media all and (min-width: $pc-media) {
    display: none;
  }

  @media all and (max-width: $pcs-media) {
    display: block;
  }

  @media all and (max-width: $pc-media) {
    padding-right: $post-horizontal-pd-md;
    padding-left: $post-horizontal-pd-md;
  }
}
