.book-sidebar {
  position: fixed;
  width: $sidebar-width;
  height: 100%;
  z-index: 500;

  background-color: #f7f8f9;
  transition: transform 0.2s;

  &.show {
    transform: translateX(0);
  }

  &.hide {
    transform: translateX(-100%);
  }

  @media all and (min-width: $pc-media) {
    transform: translateX(0);
  }

  @media all and (max-width: $pcs-media) {
    transform: translateX(-100%);
  }

  @import "../_components/brand";
  @import "../_components/menu";
}

@import "../_components/sidebar-toggle";